node_modules
public
.tmp
.idea
client/bower_components
client/translations.js
dist
/server/config/local.env.js
!server/components/announced/a.out
!server/config/environment/production.js

.bash_history
.bash_logout
.bashrc
.gitconfig
.npm/
.profile
.psql_history
npm-debug.log


*~
