header.ui.grid
	margin-top 10px
	margin-bottom 20px

main.ui.grid
	margin-top 50px

#graph
	tr+tr+tr
		td
			display none
		td+td+td
			display table-cell

// Component styles are injected through grunt
// injector
@import 'navbar/navbar.styl';
// endinjector
