.ui.top.fixed.menu(ng-controller='NavbarCtrl')#navbar
	a.brand.item MonitorMap
	a.item(ui-sref='monitormap.list',ui-sref-active='active')
		i.icon.list
		| {{'List'|translate}}
	a.item(ui-sref='monitormap.map',ui-sref-active='active')
		i.icon.map
		| {{'Map'|translate}}
	a.item(ui-sref='monitormap.global',ui-sref-active='active')
		i.icon.sitemap
		| {{'Global'|translate}}
	a.item(ui-sref='monitormap.tools',ui-sref-active='active')
		i.icon.cubes
		| {{'Tools'|translate}}
	.right.menu
		.ui.right.aligned.icon
			.ui.transparent.icon.input
				input(type='password',ng-model='passphrase',ng-change='changePassphrase(passphrase)')
				i.icon.lock
