.ui.top.fixed.menu(ng-controller='NavbarCtrl')#navbar
	a.brand.item MonitorMap
	a.item(ui-sref='monitormap.list',ui-sref-active='active')
		i.icon.list
		| {{'List'|translate}}
	a.item(ui-sref='monitormap.map',ui-sref-active='active')
		i.icon.map
		| {{'Map'|translate}}
