h1.ui.header List
table.ui.sortable.celled.table.grey(styles="font-size:small;")
	thead
		tr
			th(ng-click='sortC("name")',ng-class="{'sorted':(sort.field=='name'),'ascending':(sort.asc),'descending':(!sort.asc)}") Name
			th(ng-click='sortC("mac")',ng-class="{'sorted':(sort.field=='mac'),'ascending':(sort.asc),'descending':(!sort.asc)}") MAC
			th(ng-click='sortC("status")',ng-class="{'sorted':(sort.field=='status'),'ascending':(sort.asc),'descending':(!sort.asc)}") Status
			th(ng-click='sortC("datetime")',ng-class="{'sorted':(sort.field=='datetime'),'ascending':(sort.asc),'descending':(!sort.asc)}") Last Ago
			th(ng-click='sortC("datetime")',ng-class="{'sorted':(sort.field=='datetime'),'ascending':(sort.asc),'descending':(!sort.asc)}") Last Time
			th(ng-click='sortC("createdAt")',ng-class="{'sorted':(sort.field=='createdAt'),'ascending':(sort.asc),'descending':(!sort.asc)}") First Time
			th(ng-click='sortC("(ports_gb/ports)")',ng-class="{'sorted':(sort.field=='(ports_gb/ports)'),'ascending':(sort.asc),'descending':(!sort.asc)}") Ports GB%
			th(ng-click='sortC("ports")',ng-class="{'sorted':(sort.field=='ports'),'ascending':(sort.asc),'descending':(!sort.asc)}") Ports
			th(ng-click='sortC("(client_24+client_50)")',ng-class="{'sorted':(sort.field=='(client_24+client_50)'),'ascending':(sort.asc),'descending':(!sort.asc)}") Client
			th(ng-click='sortC("client_24")',ng-class="{'sorted':(sort.field=='client_24'),'ascending':(sort.asc),'descending':(!sort.asc)}") 2.4
			th(ng-click='sortC("client_50")',ng-class="{'sorted':(sort.field=='client_50'),'ascending':(sort.asc),'descending':(!sort.asc)}") 5.0
			th(ng-click='sortC("channel_24")',ng-class="{'sorted':(sort.field=='channel_24'),'ascending':(sort.asc),'descending':(!sort.asc)}") 2.4 Ch
			th(ng-click='sortC("channel_50")',ng-class="{'sorted':(sort.field=='channel_50'),'ascending':(sort.asc),'descending':(!sort.asc)}") 5.0 Ch
			th(ng-click='sortC("channel_24_power")',ng-class="{'sorted':(sort.field=='channel_24_power'),'ascending':(sort.asc),'descending':(!sort.asc)}") 2.4 Pow
			th(ng-click='sortC("channel_50_power")',ng-class="{'sorted':(sort.field=='channel_24_power'),'ascending':(sort.asc),'descending':(!sort.asc)}") 5.0 Pow
			th Map
			th(ng-show='passphrase.length>3') Edit
	tbody
		tr(ng-repeat='item in list|orderBy:sort.field:sort.asc')
			td {{key}}
				a(ui-sref='monitormap.detail({id:item.id})') {{item.name}}
			td {{item.mac}}
			td
				i.icon.large.green.checkmark.circle(ng-if='item.status')
				i.icon.large.red.close(ng-if='!item.status')
			td {{getTime(currentTime,item.datetime)|date:'HH:mm:ss':'UTC'}}
			td {{item.datetime|date:'d. HH:mm:ss'}}
			td {{item.createdAt|date:'d. HH:mm:ss'}}
			td {{item.ports_gb*100/item.ports}}
			td {{item.ports_gb}}/{{item.ports}}
			td {{item.client_50+item.client_24}}
			td {{item.client_24}}
			td {{item.client_50}}
			td {{item.channel_24}}
			td {{item.channel_50}}
			td {{item.channel_24_power}}
			td {{item.channel_50_power}}
			td
				a(ui-sref='monitormap.map({c:"{{item.lat}}\:{{item.lon}}\:16"})')
					i.icon.marker
			td(ng-show='passphrase.length>3')
				a(ui-sref='monitormap.edit({id:item.id})')
					i.icon.edit
	tfoot
		tr
			th(colspan='2')
				| Summe {{ list.length}}
			th(colspan='3')
				| Up {{getUpTotal()}}
				| Down {{ list.length - getUpTotal()}}
			th(colspan='1')
			th(colspan='9')
				| Clients 2,4GHz {{getClients24Total()}}
				| Clients 5GHz {{getClients5Total()}}
			th
			th(ng-show='passphrase.length>3')
