h1.ui.header Nodes
	.sub.header
		i.icon.list
		| List
table.ui.sortable.celled.table.grey
	thead
		tr
			th(ng-click='sortC("name")',ng-class="{'sorted':(sort.field=='name'),'ascending':(sort.asc),'descending':(!sort.asc)}") Name
			th(ng-click='sortC("mac")',ng-class="{'sorted':(sort.field=='mac'),'ascending':(sort.asc),'descending':(!sort.asc)}") MAC
			th(ng-click='sortC("status")',ng-class="{'sorted':(sort.field=='status'),'ascending':(sort.asc),'descending':(!sort.asc)}") Status
			th Last Seen Ago
			th(ng-click='sortC("datetime")',ng-class="{'sorted':(sort.field=='datetime'),'ascending':(sort.asc),'descending':(!sort.asc)}") Last Seen Time
			th(ng-click='sortC("(ports_gb/ports)")',ng-class="{'sorted':(sort.field=='(ports_gb/ports)'),'ascending':(sort.asc),'descending':(!sort.asc)}") Ports GB%
			th Ports
			th(ng-click='sortC("(client_24+client_50)")',ng-class="{'sorted':(sort.field=='(client_24+client_50)'),'ascending':(sort.asc),'descending':(!sort.asc)}") Client ALL
			th(ng-click='sortC("client_24")',ng-class="{'sorted':(sort.field=='client_24'),'ascending':(sort.asc),'descending':(!sort.asc)}") 2.4 Ghz
			th(ng-click='sortC("client_50")',ng-class="{'sorted':(sort.field=='client_50'),'ascending':(sort.asc),'descending':(!sort.asc)}") 5.0 Ghz
			th Map
			th(ng-show='passphrase.length>3') Edit
	tbody
		tr(ng-repeat='item in list|orderBy:sort.field:sort.asc')
			td {{key}}
				a(ui-sref='monitormap.detail({id:item.id})') {{item.name}}
			td {{item.mac}}
			td
				i.icon.large.green.checkmark.circle(ng-if='item.status')
				i.icon.large.red.close(ng-if='!item.status')
			td {{getTime(currentTime,item.datetime)|date:'mm:ss'}}
			td {{item.datetime|date:'d. HH:mm:ss'}}
			td {{item.ports_gb/item.ports}}
			td {{item.ports_gb}}/{{item.ports}}
			td {{item.client_50+item.client_24}}
			td {{item.client_24}}
			td {{item.client_50}}
			td
				a(ui-sref='monitormap.map({c:"{{item.lat}}\:{{item.lon}}\:16"})')
					i.icon.marker
			td(ng-show='passphrase.length>3')
				a(ui-sref='monitormap.edit({id:item.id})')
					i.icon.edit
	tfoot
		tr
			th(colspan='2')
				| Summe {{ list.length}}
			th(colspan='3')
				| Up {{getUpTotal()}}
				| Down {{ list.length - getUpTotal()}}
			th(colspan='1')
			th(colspan='4')
				| Clients 2,4GHz {{getClients24Total()}}
				| Clients 5GHz {{getClients5Total()}}
			th(colspan='2')
