h1.ui.header Tools
ul
	li
		a(href='/json/ansible',target='_blank') Get Ansible JSON
	li
		a(href='/json/ansible?callback=a',target='_blank') Get Ansible JSON with callback
	li
		a(href='/api/ansible-playbook/fetch',target='_blank') Push Node Radios for Ansible
	li
		a(href='/json/statistic',target='_blank') Get Statistic JSON
	li
		a(href='/json/statistic?callback=a',target='_blank') Get Statistic JSON with callback
