h1.ui.header Nodes
	.sub.header
		i.icon.cubes
		| Tools
ul
	li
		a(href='/json/ansible',target='_blank') Get Ansible JSON
	li
		a(href='/json/ansible?callback=a',target='_blank') Get Ansible JSON with callback
